In [2]:
import pandas as pd

age_data = pd.read_csv('age_data.csv')

In [3]:
age_data.head(5)

,p80_84,p35_39,p50_54,vifsa_code,p70_74,p65_69,p5_9,p85_ov,p40_44,p55_59,...,p25_29,p30_34,ogc_fid,p10_14,p75_79,year,p15_19,p45_49,p0_4,p60_64
0,1129,5694,3922,VIFSA.21890.10,1592,2028,2868,1181,4702,3138,...,5284,5844,218,2740,1249,2021,2723,4195,3617,2580
1,554,2939,2634,VIFSA.23110.20,1237,1632,2416,589,2655,2582,...,2449,2836,398,2276,733,2021,2012,2781,2729,2255
2,1121,10532,5676,VIFSA.24330.10,2218,3170,6138,1423,8296,4725,...,9884,11017,523,5108,1513,2021,4627,7049,7626,4258
3,780,4080,2234,VIFSA.24600.10,1444,1745,960,676,2686,2162,...,11749,7716,538,1117,1086,2021,3552,2364,1440,1972
4,728,5205,2753,VIFSA.24600.20,1390,1692,1831,509,3642,2344,...,6069,5810,543,1646,1005,2021,2539,2963,2180,2063

In [11]:
age_data[' p5_9']

0     2868
1     2416
2     6138
3      960
4     1831
5     2433
6     2757
7     2391
8     5129
9     2309
10    2372
11    3029
12    3155
13    1437
14      45
Name:  p5_9, dtype: int64

In [4]:
title_list = [' vifsa_name',' p0_4',' p5_9',' p10_14',' p15_19',' p20_24', ' p25_29', ' p30_34', ' p35_39',' p40_44', ' p45_49',' p50_54', ' p55_59',' p60_64', ' p65_69', ' p70_74', ' p75_79', 'p80_84', ' p85_ov']
new_data = age_data[title_list]

In [5]:
new_data.head(5)

,vifsa_name,p0_4,p5_9,p10_14,p15_19,p20_24,p25_29,p30_34,p35_39,p40_44,p45_49,p50_54,p55_59,p60_64,p65_69,p70_74,p75_79,p80_84,p85_ov
0,VIFSA Northcote-Thornbury District,3617,2868,2740,2723,3568,5284,5844,5694,4702,4195,3922,3138,2580,2028,1592,1249,1129,1181
1,VIFSA Newport-Williamstown District,2729,2416,2276,2012,2027,2449,2836,2939,2655,2781,2634,2582,2255,1632,1237,733,554,589
2,VIFSA Maribyrnong City,7626,6138,5108,4627,6962,9884,11017,10532,8296,7049,5676,4725,4258,3170,2218,1513,1121,1423
3,VIFSA CBD-East Melbourne District,1440,960,1117,3552,9491,11749,7716,4080,2686,2364,2234,2162,1972,1745,1444,1086,780,676
4,VIFSA Docklands-Southbank District,2180,1831,1646,2539,4442,6069,5810,5205,3642,2963,2753,2344,2063,1692,1390,1005,728,509

In [6]:
youth_data = new_data[[' p15_19',' p20_24', ' p25_29']]

In [7]:
youth_data['total'] = youth_data.sum(axis=1)

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [8]:
youth_data['total']

0     11575
1      6488
2     21473
3     24792
4     13050
5     14245
6     25553
7      7449
8     17736
9      9845
10    15667
11    17180
12    15397
13     8480
14      114
Name: total, dtype: int64

In [9]:
old_data = new_data[[' p65_69', ' p70_74', ' p75_79', 'p80_84', ' p85_ov']]

In [10]:
old_data['total'] = old_data.sum(axis=1)

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [11]:
dis_dict = {}

for i in range(len(youth_data)):
    dis = new_data[' vifsa_name'][i]
    total_num = youth_data['total'][i] + old_data['total'][i]
    youth_pro = youth_data['total'][i] / total_num
    dis_dict[dis] = youth_pro

In [12]:
dis_dict

{'VIFSA Abbotsford-Fitzroy District': 0.6496350364963503,
 'VIFSA Airport West-Niddrie District': 0.42609541242420773,
 'VIFSA Albert Park-Port Melbourne District': 0.5340674839969621,
 'VIFSA Ascot Vale-Strathmore District': 0.6113753877973113,
 'VIFSA Brunswick District': 0.6962705899604086,
 'VIFSA Burnley-Richmond District': 0.6627070959674899,
 'VIFSA CBD-East Melbourne District': 0.8122399502014874,
 'VIFSA Docklands-Southbank District': 0.7102427342984652,
 'VIFSA Elwood-St Kilda District': 0.7730300488478808,
 'VIFSA Maribyrnong City': 0.6945145222847532,
 'VIFSA Newport-Williamstown District': 0.5775839045669011,
 'VIFSA Northcote-Thornbury District': 0.617201663645089,
 'VIFSA Parkville-West Melbourne District': 0.820268361581921,
 'VIFSA Prahran-Toorak District': 0.5944225313127119,
 'VIFSA Unincorporated Vic': 0.3737704918032787}

In [36]:
import json
dis_age_dict = {"CARLTON NORTH":0.8772, "CARLTON":0.9211, "DOCKLANDS":0.8909,
               "EAST MELBOURNE":0.8999, "FLEMINGTON":0.9071, "KENSINGTON":0.9123,
               "MELBOURNE":0.9632, "NORTH MELBOURNE":0.9114, "PARKVILLE":0.9243,
               "PORT MELBOURNE": 0.8414, "SOUTH WHARF":0.9509, "SOUTH YARRA":0.8431, 
               "SOUTH BANK":0.9144, "WEST MELBOURNE":0.9210}


with open('dis_age.json', 'w') as f:
    json.dump(dis_age_dict, f)