In [53]:
import pandas as pd


store_data = pd.read_csv("data_store.csv")
print(store_data.shape)

(606, 10)

In [54]:
store_data.head(5)

,wholesale_trade,mining,manufacturing,transport_postal_and,clue_small_area,education_and_training,accommodation_and_food,construction,health_care_and_social,block_id
0,0,0,0,0,East Melbourne,0,0,0,0,662
1,0,0,0,0,Docklands,0,1,0,0,1112
2,0,0,0,3,Melbourne (CBD),0,15,0,0,6
3,0,0,0,0,Parkville,0,0,0,1,927
4,0,0,0,0,Parkville,0,0,0,0,926

In [58]:
store_data = store_data.drop([' block_id'], axis=1)

In [59]:
store_data.head(5)

,wholesale_trade,mining,manufacturing,transport_postal_and,clue_small_area,education_and_training,accommodation_and_food,construction,health_care_and_social
0,0,0,0,0,East Melbourne,0,0,0,0
1,0,0,0,0,Docklands,0,1,0,0
2,0,0,0,3,Melbourne (CBD),0,15,0,0
3,0,0,0,0,Parkville,0,0,0,1
4,0,0,0,0,Parkville,0,0,0,0

In [60]:
store_data = store_data.set_index([' clue_small_area'], drop=True)

In [62]:
indexes = store_data.index.unique()

In [63]:
print(indexes)

Index(['East Melbourne', 'Docklands', 'Melbourne (CBD)', 'Parkville',
       'West Melbourne (Residential)', 'North Melbourne',
       'West Melbourne (Industrial)', 'Southbank', 'Melbourne (Remainder)',
       'South Yarra', 'Carlton', 'Kensington', 'Port Melbourne'],
      dtype='object', name=' clue_small_area')

In [65]:
park_data = store_data.loc['Parkville'].sum()

In [66]:
park_data['total'] = park_data.sum(axis=0)

In [67]:
park_data['total']

146

In [72]:
park_data

wholesale_trade              0
 mining                      0
 manufacturing               3
 transport_postal_and        6
 education_and_training     15
 accommodation_and_food     51
 construction                1
 health_care_and_social     70
total                      146
dtype: int64

In [71]:
park_data[' manufacturing']

3

In [74]:
park_data.shape

(9,)

In [27]:
store_data.loc['Parkville'].sum()

wholesale_trade                                                            0
 mining                                                                    0
 manufacturing                                                             3
 transport_postal_and                                                      6
 clue_small_area           ParkvilleParkvilleParkvilleParkvilleParkvilleP...
 education_and_training                                                   15
 accommodation_and_food                                                   51
 construction                                                              1
 health_care_and_social                                                   70
 block_id                                                              29209
dtype: object

In [76]:
for item in park_data:
    item = item / park_data['total']
    print(item)

0.0
0.0
0.02054794520547945
0.0410958904109589
0.10273972602739725
0.3493150684931507
0.00684931506849315
0.4794520547945205
1.0

In [77]:
for index in park_data.index:
    print(index)

wholesale_trade
 mining
 manufacturing
 transport_postal_and
 education_and_training
 accommodation_and_food
 construction
 health_care_and_social
total

In [79]:
dis_store_health_dict = {}
for dis in store_data.index.unique():
    dis_data = store_data.loc[dis].sum()
    dis_data['total'] = dis_data.sum(axis=0)
    num = (dis_data[' accommodation_and_food'] + dis_data[' health_care_and_social']) / dis_data['total']
    dis_store_health_dict[dis] = num

In [80]:
dis_store_health_dict

{'East Melbourne': 0.8881987577639752,
 'Docklands': 0.6666666666666666,
 'Melbourne (CBD)': 0.6517140773158279,
 'Parkville': 0.8287671232876712,
 'West Melbourne (Residential)': 0.3736842105263158,
 'North Melbourne': 0.45495495495495497,
 'West Melbourne (Industrial)': 0.026490066225165563,
 'Southbank': 0.6410256410256411,
 'Melbourne (Remainder)': 0.7142857142857143,
 'South Yarra': 0.5757575757575758,
 'Carlton': 0.6679389312977099,
 'Kensington': 0.30612244897959184,
 'Port Melbourne': 0.04477611940298507}

In [81]:
import json
dis_dict = {"CARLTON NORTH": 0.6679, "CARLTON":0.6679, "DOCKLANDS":0.6667,
       "EAST MELBORNE":0.8881, "FLEMINGTON":0.3101, "KENSINGTON":0.3061, "MELBOURNE": 0.7143, 
        "NORTH MELBOURNE": 0.4550, "PARKVILLE":0.8287, "PORT MELBOURNE":0.0448, "SOUTH WHARF":0.7543, 
       "SOUTH YARRA":0.5758, "SOUTH BANK":0.6410, "WEST MELBOURNE":0.2137}

with open('store_health_dis.json', 'w') as f:
    json.dump(dis_dict, f)